@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+JP:wght@300;400;700;900&display=swap');

/* General */

h1, h2, h3, h4{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

body{
  font-family: "Noto Sans JP", sans-serif;
  background-color: #FFFFFF;
  font-weight: 400;
}

header{
  background-color: #e6e6e6;
}

footer{
  background-color: #e6e6e6;
}
/* Header */

/* #container{ */
    /* margin-left: 0px; */
  /* } */

#home{
  margin-right: 38px;
}

.button-nav{
    border: 1px solid black;
    background-color: #0C7C59;
    color: #FFFFFF;
    margin: 12px;
    padding: 10px;
    max-height: 50px;
    max-width: 110px;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}

.button-nav:hover{
  background-color: #D64933;
  color: #0C7C59;
}

.logo{
  max-height: 80px;
  float: left;
}

.title-card{
  margin: 1px;
}

.nav-bar{
  height: 80px;
}

.tablet-nav{
  background-color: red;
}

.mobile-nav{
  background-color: green;
}

/* Header */

/* Loaction slideshow */

.slide-vid{
  object-fit: fill;
}
/* https://stackoverflow.com/questions/3779771/html-5-video-stretch */

.slide-img{
  /* max-height: 775px; */
  height: 720px;
  min-height: 100%;
  width: 1440px;
  min-width: 100%;
  margin: 0;
}

.button-loa{
  float: right;
  margin-top: 315px;
  margin-left: 5px;
  position: relative;
}

.carousel-caption{
  color: white;
  background-color: rgba(145, 145, 145, 0.7);
  text-align: center;
  padding: 1px;
}

/* Loaction slideshow */

/* Oceania Airlines Summary/Grid Section */
#row-md{
  margin-bottom: 0px;
}

.row{
  margin-bottom: 15px;
}

.loa-img{
  max-height: 400px;
  /* max-width: 600px; */
  height: 100%;
  width: 100%;
  margin: 10px;
  margin-top: 0px;
  border: 1px solid black;
}

.box-area{
  border: 1px solid black;
  /* border-bottom: 2px solid black 0.2; COME BACK TO */
  max-height: 400px;
  height: 85%;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 5px;
  background-color: #0C7C59;
  color: #FFFFFF;
}

/* Marcel box-area + loa-img */

/* Oceania Airlines Summary Section */

/* Flight Info page */


.web-table{
  width: 100%;
  max-width: 1600px;
  margin-left: 160px;
  margin-top: 10px;
  background-color: green;
}

.tablet-table{
  background-color: red;
  width: 100%;
  margin-top: 10px;
}

.mobile-table{
  max-width: 320px;

  margin-top: 10px;
}

/* PROBLEM WITH FOOOOOOTEEEEERRR/////////////////////////////////// */


/* .table-width{
  width: 100%;
  max-width: 1600px;
  margin-left: 10px;
  margin-top: 10px;
} */

.loa-name{
  border-bottom: 1px solid black;
}

/* Flight Info page */

/* Contact Us page */

.contact-us{
    border: 1px solid black;
    height: 615px;
    margin: 10px;
    padding-top: 10px;
}

.contact-content{
  padding: 10px;
  margin-top: 27px;
  font-size: 1.2em;
  padding-left: 0px;
  border-bottom: 1px solid black;
}

.contact-title{
  border-bottom: 1px solid black;
}

.contact-icon{
  background-color: #e6e6e6;
  color: #0C7C59;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  padding-top: 15px;
  text-align: center;
  margin: 27px;
  justify-content: space-around;
}

.contact-form{
  border: 1px solid black;
}

/* Contact Us page */

/* Footer */

.footer{
  /* border: 1px solid black; */
  margin-top: 5px;
  width: 500px;
  height: 200px;
  padding: 20px;
}

.icon-background{
  background-color: #0C7C59;
  color: #D64933;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  padding-top: 15px;
  text-align: center;
}

i:hover{
  background-color: #D64933;
  color: #0C7C59;
}


/* Footer */

/* Breakpoints */

/* Small devices (vertical phone) */
@media screen and (max-width: 450px) {
  .tablet-table{
      display: none;
    }
}
@media screen and (min-width: 450px) {
  .mobile-table{
      display: none;
    }
}
/* Small devcices (landscape phones) */
@media (min-width: 768px) {}

/* Medium devices (tablets) */
@media screen and (max-width: 1025px) {
  .web-table {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .tablet-table{
    display: none;
  }
}



/* Large devices (desktops) */
@media (min-width: 1200px) {}

/* (Bootsrap breakpoins) */
