@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+JP:wght@300;400;700;900&display=swap');

/* General */

h1, h2, h3, h4, h5, h6{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}

body{
  font-family: "Noto Sans JP", sans-serif;
  background-color: #FFFFFF;
  font-weight: 400;
}

header{
  background-color: #e6e6e6;
}

footer{
  background-color: #e6e6e6;
}

/* General -- END */



/* HEADER */

/* Nav-bar genral/desktop */

#home{
  margin-right: 38px;
}

.button-nav{
    border: 1px solid black;
    background-color: #0C7C59;
    color: #FFFFFF;
    margin: 12px;
    padding: 10px;
    max-height: 50px;
    max-width: 110px;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}

.button-nav:hover{
  background-color: #D64933;
  color: #0C7C59;
}


.logo{
  max-height: 80px;
  float: left;
}

.title-card{
  margin: 1px;
}

.nav-bar{
  height: 80px;
}

/* Nav-bar genral/desktop -- END  */

/* Mobile nav bar */

.mobile-nav .button-nav{
  height: 50px;
  width: 70px;
  font-size: 11px;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

.mobile-nav .nav-item{
  width: 80px;
}

/* Mobile nav bar -- END  */

/* Tablet nav bar */

.tablet-nav .button-nav{
  height: 70px;
  width: 100px;
  font-size: 12px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.tablet-nav .nav-item{
  width: 110px;
}

/* Tablet nav bar -- END  */

/* HEADER -- END  */



/* HOME PAGE */

/* Video genral/desktop */

.slide-vid{
  object-fit: fill;
  height: 720px;
  min-height: 100%;
  width: 1440px;
  min-width: 100%;
  margin: 0;
}

.button-loa{
  float: right;
  margin-top: 315px;
  margin-left: 5px;
  position: relative;
}

.carousel-caption{
  color: white;
  background-color: rgba(145, 145, 145, 0.7);
  text-align: center;
  padding: 1px;
}

/* Video genral/desktop -- END */

/* Mobile video */

.mobile-video{
  height: 240px;
  object-fit: fill;
}

#mobile-video-text{
  font-size: 11px;
}

/* Mobile video -- END */

/* Tablet video */

.tablet-video{
  object-fit: fill;
}

#tablet-video-text{
  font-size: 16px;
}

/* Tablet video -- END */

/* Video genral/desktop -- END */



/* Oceania Airlines Summary Section */

/* Oceania Airlines home grid genral/desktop */
#row-md{
  margin-bottom: 0px;
}

.row{
  margin-bottom: 15px;
}

.loa-img{
  max-height: 400px;
  height: 100%;
  width: 100%;
  margin: 10px;
  margin-top: 0px;
  border: 1px solid black;
}

.box-area{
  border: 1px solid black;
  max-height: 400px;
  height: 85%;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 5px;
  background-color: #0C7C59;
  color: #FFFFFF;
}

/* Oceania Airlines home grid genral/desktop -- END */

/* Mobile home grid */

.mobile-grid-home{
  height: 150px;
  font-size: 10px;
  padding: 7px;
}

.mobile-grid-home .loa-img {
  width: 200px;
}

/* Mobile home grid -- END */

/* Tablet home grid */

.tablet-grid-home{
  height: 250px;
  font-size: 14px;
}

.tablet-grid-home .loa-img{
  width: 350px;
}

.tablet-grid-home .box-area {
  width: 350px;
}

/* Tablet home grid -- END */

/* Marcel box-area + loa-img */

/* Oceania Airlines Summary Section -- END */



/* Flight Info page */

/* Table genral/desktop */

.web-table{
  width: 100%;
  max-width: 1600px;
  margin-left: 160px;
  margin-top: 10px;
  background-color: green;
}

.loa-name{
  border-bottom: 1px solid black;
}

/* Table genral/desktop -- END  */



.mobile-table{
  width: 370px;
  font-size: 9px;
  justify-content: center;
}

/* Mobile table -- END */

/* Tablet table */

#tablet-flight{
  margin-bottom: 25px;
}

.tablet-table{
  background-color: red;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
}

/* Tablet table -- END */

/* Mobile flight info */

.mobile-grid-flight{
  min-height: 200px;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.mobile-grid-flight .loa-img{
  height: 175px;
  margin: 0px;
  margin-top: 34px;
}

.mobile-grid-flight .box-area {
  height: 175px;
}

/* Mobile flight info -- END */

/* Tablet flight info grid */

.tablet-grid-flight{
  height: 300px;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

/* Tablet flight info grid -- END */

/* Flight Info page -- END */



/* Contact Us page */

/* Contact form genral/desktop */

#title-question{
  margin-top: 10px;
  margin-bottom: 0px;
}

.contact-us{
    border: 1px solid black;
    height: 615px;
    margin: 10px;
    padding-top: 10px;
}

.contact-content{
  padding: 10px;
  margin-top: 27px;
  font-size: 1.2em;
  padding-left: 0px;-- END
  border-bottom: 1px solid black;
}

.contact-title{
  border-bottom: 1px solid black;
}

.contact-icon{
  background-color: #e6e6e6;
  color: #0C7C59;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  padding-top: 15px;
  text-align: center;
  margin-right: 16px;
  justify-content: space-around;
}

.contact-form{
  border: 1px solid black;
  width: 266;
}

/* Contact form genral/desktop -- END */

/* Contact Us page -- END */



/* FOOTER */

/* Footer genral/desktop */

.footer{
  margin-top: 5px;
  width: 500px;
  height: 200px;
  padding: 20px;
}

.icon-background{
  background-color: #0C7C59;
  color: #D64933;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  padding-top: 15px;
  text-align: center;
}

i:hover{
  background-color: #D64933;
  color: #0C7C59;
}

/* Mobile footer */

/* Mobile footer -- END */

/* Tablet footer */


/* Tablet footer -- END */

/* Footer genral/desktop -- END */

/* FOOTER -- END */



/* Breakpoints */

/* Small devices (vertical phone) */
@media screen and (max-width: 426px) {
  .tablet-table{
      display: none;
    }

    .tablet-nav{
        display: none;
      }

    .tablet-video{
      display: none;
    }

    .tablet-grid-home{
      display: none;
    }

    .tablet-footer{
      display: none;
    }

    .tablet-grid-flight{
      display: none;
    }


}

@media screen and (min-width: 426px) {
  .mobile-table{
      display: none;
    }

  .mobile-nav{
    display: none;
  }

  .mobile-video{
    display: none;
  }

  .mobile-grid-home{
    display: none;
  }

  .mobile-tablet{
    display: none;
  }

  .mobile-grid-flight{
    display: none;
  }


}

/* Small devcices (landscape phones) */
@media (min-width: 768px) {}

/* Medium devices (tablets) */
@media screen and (max-width: 1025px) {
  .web-table{
    display: none;
  }

  .web-nav{
    display: none;
  }

  .web-video{
    display: none;
  }

  .web-grid-home{
    display: none;
  }

  .web-footer{
    display: none;
  }

  .web-grid-flight{
    display: none;
  }


}

@media screen and (min-width: 1025px) {
  .tablet-table{
    display: none;
  }

  .tablet-nav{
    display: none;
  }

  .tablet-video{
    display: none;
  }

  .tablet-grid-home{
    display: none;
  }

  .tablet-footer{
    display: none;
  }

  .tablet-grid-flight{
    display: none;
  }


}

/* Large devices (desktops) */
@media (min-width: 1440px) {}

/* Breakpoints -- END */
